<footer>
  <div class="main_content">
    <section>
      <p>Nana's Clubhouse</p>
      <p>Connect with others while enjoying your privacy</p>
    </section>
    <section class="footer_links">
      <ul>
        <li>
          <a href="/contact">Contact</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
      </ul>
    </section>
  </div>
  <hr />
  <p class="copyright">&copy; <%= year %>. Nana's Clubhouse. All rights reserved.</p>
</footer>
