<footer>
    <section>
        <p>Nana's Clubhouse</p>
        <p>Brief info</p>
    </section>
    <section class="footer_links">
        <ul>
            <li>Contact</li>
            <li>About</li>
        </ul>
    </section>
    <hr>
    <p>&copy; <%= year %>. Nana's Clubhouse. All rights reserved.</p>
</footer>