<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>Join Club</title>
    </head>
    <body>
        <%- include('partials/nav'); %>
        <header>
            <h1>You are almost there!</h1>
            <p>Enter secret passcode to become a member of our exclusive Clubhouse</p>
        </header>
        <main>
            <form action="" method="post">
                <label for="password">Secret passcode</label>
                <input type="password" name="password" id="password">
                <button type="submit" class="input_btn join">Join</button>
            </form>
        </main>
        <%- include('partials/footer'); %>
    </body>
</html>