<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/styles/global.css">
        <link rel="stylesheet" href="/styles/nav.css">
        <link rel="stylesheet" href="/styles/join.css">
        <link rel="stylesheet" href="/styles/footer.css">
        <title>Join Club</title>
    </head>
    <body>
        <%- include('partials/nav'); %>
        <header>
            <h1>You are almost there!</h1>
            <p>Enter secret passcode to become a member of our exclusive Clubhouse</p>
        </header>
        <main>
            <div class="content">
                <%- include('partials/errors'); %>
                <form action="/users/member" method="post">
                    <label for="password">Secret passcode</label>
                    <input type="password" name="password" id="password">
                    <button type="submit" class="input_btn join">Join</button>
                </form>
            </div>
        </main>
        <%- include('partials/footer'); %>
    </body>
</html>